.tooltip-container {
  position: relative;
  display: flex;
  align-items: center;
}

.tooltip-text {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin-bottom: 0.5rem;
  width: max-content;
  background-color: var(--gray-800);
  color: var(--white);
  font-size: 0.75rem;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.tooltip-container:hover .tooltip-text {
  opacity: 1;
}
